@import "../../assets/styles/mixins.scss";

.container {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 60px 0;
  font-size:40px;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(34,34,34,1);
}

.formItem {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #F4F6F9;
  padding-bottom: 20px;
  margin-top: 80px;
  &_title {
    font-size:35px;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(51,51,51,1);
    margin-right: 20px;
  }
  &_input {
    font-size:35px;
    font-family:PingFang SC;
    font-weight:400;
  }
}

.tips {
  width: 100%;
  margin-top: 40px;
  color: #FF3B3B;
  font-size:24px;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(255,59,59,1);
  margin-bottom: 60px;
}

.submit {
  @include littleBlueButton;
  width: 441px;
}

.dialog {
  &_wrapper {
    width: 520px;
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include font(24px, #666, 500);
  }
  &_image {
    width: 125px;
    height: 125px;
    margin-bottom: 29px;
  }
}
