@import '../../assets/styles/mixins.scss';

@include full_screen;

.container {
  display: flex;
  flex-direction: column;
  width:750px;
  background-color: #F6F5FA;
}

@mixin title {
  line-height: 26px;
  @include font(28px, rgba(153,153,153,1), 500);
}

.title {
  margin: 41px 30px 0;
  @include title;
}

.title_input {
  height:90px;
  background:#fff;
  margin-top: 16px;
  margin-bottom: 34px;
  padding: 0 30px;
}

.reason {
  @include title;
  display: flex;
  margin: 0 30px;
  justify-content: space-between;
}

.reason_input {
  width: 690px;
  height: 346px;
  background: #fff;
  padding: 30px;
  @include font(32px, #000, normal);
  margin: 16px 0 75px;
}

.submit {
  @include littleBlueButton
}

.dialog {
  &_wrapper {
    width: 520px;
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include font(24px, #666, 500);
  }
  &_image {
    width: 125px;
    height: 125px;
    margin-bottom: 29px;
  }
}
