@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/constant.scss';

.container {
  display: flex;
  flex-direction: column;
  width:750px;
  min-height: $clientHeight; // 背景颜色设置
  background-color: #F6F5FA;
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper {
  width: 690px;
  margin: 0 auto;
  background-image: url(../../assets/images/my-activity-left.png);
  background-repeat: repeat-y;
  background-position: left top;
  background-size: 18px 233px;
}
