@import '../../assets/styles/mixins.scss';

@include full_screen;

.container {
  width: 690px;
  margin: 0 auto;
  background-image: url(../../assets/images/my-activity-left.png);
  background-repeat: repeat-y;
  background-position: left 40px;
  background-size: 18px 233px;
  background-clip: content-box;
  padding-top: 40px;
  padding-bottom: 40px;
}
