@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/constant.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28vh;
}

.image {
  width: 285px;
  height: 212px;
}

.content {
  margin-top: 42px;
  @include font(28px, #999, 400);
}
