@import '../../assets/styles/mixins.scss';

.container {
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 237px;
  height: 193px;
}

.title {
  margin-top: 22px;
  line-height:28px;
  @include font(30px, rgba(51,51,51,1), 500);
}

.info {
  margin-top: 29px;
  margin-bottom: 59px;
  line-height:23px;
  @include font(24px, rgba(153,153,153,1), 400);
  display: flex;
}

.copy {
  height:23px;
  margin-left: 15px;
  @include font(24px, rgba(64,89,255,1), bold);
}

.confirm {
  @include littleBlueButton;
}
