@import '../../assets/styles/mixins.scss';

.container {
  height: 100px;
  margin: 0 30px;
  border-bottom: 2px solid #F4F6F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  padding-left: 45px;
  @include font(32px, rgba(68, 68, 68, 1), 400);
  background-repeat: no-repeat;
  background-size: 33px 22px;
  background-position: left center;
}

.arrow {
  width:17px;
  height:29px;
  background-image: url('../../assets/images/back.png');
  background-size: 17px 29px;
  transform: rotate(180deg);
}
