@mixin littleBlueButton {
  width:300px;
  line-height:80px;
  background:rgba(64,89,255,1);
  color: #fff;
  font-size:36px;
  font-family:PingFang SC;
  font-weight:bold;
  border-radius: 0;
}

@mixin font($size, $color, $weight) {
  font-size: $size;
  font-family: PingFang SC;
  font-weight: $weight;
  color: $color;
}

@mixin full_screen {
  page {
    height: 100%;
  }
  .full_screen {
    min-height: 100%;
    background-color: #F6F5FA;
  }
}
