@mixin littleBlueButton {
  width:300px;
  line-height:80px;
  background:rgba(64,89,255,1);
  color: #fff;
  font-size:36px;
  font-family:PingFang SC;
  font-weight:bold;
  border-radius: 0;
}

@mixin font($size, $color, $weight) {
  font-size: $size;
  font-family: PingFang SC;
  font-weight: $weight;
  color: $color;
}
