@mixin bg-image($url) {
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }
}

@mixin littleBlueButton {
  width:300px;
  line-height:80px;
  background:rgba(64,89,255,1);
  color: #fff;
  font-size:36px;
  font-family:PingFang SC;
  font-weight:bold;
  border-radius: 0;
}
